<?xml version="1.0" encoding="utf-8"?>
<manifest package="gdg.androidtitlan.spotifymvp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".music.api.client.MusicApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme.Music">

        <activity
            android:name=".music.ui.activity.ArtistsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".music.ui.activity.TracksActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>


        <service android:name=".music.service.AudioPlayerService"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
